body {
  font-family:'Muli', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

P {
  color: #726c6c;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  padding: 7% 2%;
}

.section-heading {
  font-size: 2rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #8fd9f7;
  background-image: url("images/Background\ Image.JPG");
  /* background-blend-mode: hard-light; */
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
}
.colored-section1 {
  background-color: #8fd9f7;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(90deg, #22c1c3, #b38f43); 
}
.colored-section2 {
  background: 
  linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
}
.colored-section3 {
background:
	linear-gradient(
		limegreen,
		transparent
	),
	linear-gradient(
		90deg,
		skyblue,
		transparent
	),
	linear-gradient(
		-90deg,
		coral,
		transparent
	);
background-blend-mode: screen;
}
.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 0 0 4.5rem;
}

.navbar-brand {
  font-family:"Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
font-size: 1.2rem;
font-family: 'Muli', sans-serif;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  position: relative;
  text-align: left;
}

/* Title Image */
.title-image {
  width: 70%;
  position: absolute;
  left: 550px;
  top: 60px;
}

/* Feature Sessions */

#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff0022;
}

/* Testimonials Sessions */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
font-size: rem;
line-height: 1.5;
}


.testimonial-image {
  width: 10%;
  margin: 20px;
  border-radius: 100%;
}

#press {
background-color: #ef8172;
padding-bottom: 1%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  font-size: 1rem;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3 rem;
  line-height: 1.5;
}

/* Footer Section */
/* #footer {
} */

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
  position: static;
  transform: rotate(0);
  }
}
